//@import "compass/css3";

//@import "compass/css3";
//@import "compass/reset";

$offset: 100vh;

@mixin transition($prop){
  -moz-transition: $prop;
  -o-transition: $prop;
  -webkit-transition: $prop;
  transition: $prop;
}

@mixin scale($from){
  -moz-transform: scale($from, $from);
  -ms-transform: scale($from, $from);
  -webkit-transform: scale($from, $from);
  transform: scale($from, $from);
}

.wrapper {
  padding-top: $offset;
  width: unset;
  @include transition(all .5s ease);
}

header{
  background: #3498db fixed no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: $offset;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 10;
  @include transition(all .5s ease);
  h1{
    font-size: 42px;
    color: #fff;
    
    text-transform: uppercase;
    font-weight: 100;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: rgba(0,0,0,.5);
    @include transition(all .3s ease);
  }
  nav{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    z-index: 20;
    @include transition(all .3s ease);
    .navbar-brand {
      line-height: 0;
    }
    .header-img {
      max-height: 150px;
      @include transition(all 1s ease);
    }
    .dropdown-menu a {
      color: #333;
      background-color: #fff;
    }

    .dropdown-menu a:hover {
      color: #fff0f0 !important;
      background: #da521e !important;
    }
    @media (max-width: 767.98px) {
      .navbar-nav {
        background: rgba(0,0,0,0.4);
        .dropdown-menu {
          width: 100%;
          text-align: center;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: none;
        }
      }
      .navbar-nav.mr-auto {
        margin-top: 25px;
      }
    }
  }
}



/* Sticky Header Style */
/* ---------------------------------------- */
.sticky-header{
  padding-top: 80px;
  header{
    height: 60px;
    background-color: rgba(52,152,219,.9);
    h1{
      @include scale(0);
    }
  }
}

.wrapper-padding {
  padding-top: 100px;
}